@import 'palette';

$color-black: #000000;
$color-white: #ffffff;

$rgba-black: rgba(  0,  0,  0,1);
$rgba-white: rgba(255,255,255,1);

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$font-primary: 'Open Sans', Arial, Helvetica, sans-serif;
